altair
anaconda
async-generator
attrs
backports.zoneinfo
beautifulsoup4
blinker
cachetools
certifi
cffi
charset-normalizer
click
colorama
commonmark
decorator
distlib
docopt
entrypoints
et-xmlfile
filelock
Flask
gitdb
GitPython
h11
htbuilder
idna
importlib-metadata
importlib-resources
itsdangerous
Jinja2
jsonschema
MarkupSafe
more-itertools
MouseInfo
numpy
openpyxl
outcome
packaging
pandas
patsy
Pillow
pipreqs
pkgutil-resolve-name
pkgutil_resolve_name
platformdirs
plotly
plotly-express
protobuf
pyarrow
PyAutoGUI
pycparser
pydeck
PyGetWindow
Pygments
Pympler
PyMsgBox
pyperclip
PyRect
pyrsistent
PyScreeze
PySocks
python-dateutil
python-decouple
pytweening
pytz
pytz-deprecation-shim
pywhatkit
requests
rich
scipy
selenium
semver
six
smmap
sniffio
sortedcontainers
soupsieve
SpeechRecognition
st-annotated-text
statsmodels
streamlit
streamlit-aggrid
streamlit-lottie
streamlit-on-Hover-tabs
tenacity
toml
toolz
tornado
trio
trio-websocket
typing_extensions
tzdata
tzlocal
urllib3
validators
virtualenv
watchdog
Werkzeug
wikipedia
wsproto
yarg
zipp